<template>
  <v-form-item class="v-form-item" v-bind="props">
    <template v-if="$slots.label || props.label" #label>
      <div class="v-form-item__label-wrapper">
        <div class="v-form-item__label">
          <slot name="label">{{ props.label }}</slot>
        </div>
        <div v-if="props.info" class="v-form-item__info">
          <slot name="info">
            {{ props.info }}
          </slot>
        </div>
      </div>

      <el-tooltip v-if="props.tooltip" placement="top">
        <template #content>
          <div class="v-form-item__tooltip">
            <slot name="tooltip">
              {{ props.tooltip }}
            </slot>
          </div>
        </template>
        <el-icon :size="16"><question-filled class="v-form-item__tooltip-icon" /></el-icon>
      </el-tooltip>
    </template>
    <template #default>
      <slot />
    </template>
    <template #error>
      <slot name="error" />
    </template>
    <template #beforeNote>
      <slot name="beforeNote" />
    </template>
    <template v-if="!note" #note>
      <slot name="note" />
    </template>
    <template v-else #note>
      <v-note :text="note" />
    </template>
  </v-form-item>
</template>

<script lang="ts" setup>
import { ElFormItem, formItemProps } from 'element-plus'
import { QuestionFilled } from '@element-plus/icons-vue'
import { defineComponent, renderSlot, h } from 'vue'
import VNote from '@/components/form/VNote.vue'

const props = defineProps({
  ...formItemProps,
  tooltip: String,
  info: String,
  label: String,
  note: String,
})

const VFormItem = defineComponent({
  props: { ...ElFormItem.props },
  setup(_props: any, _ctx: any) {
    let newSetup: any
    if (ElFormItem.setup) {
      newSetup = ElFormItem.setup(_props, _ctx)
    } else {
      return false
    }
    return (ctx: any, cache: any) => {
      const newRender = newSetup(ctx, cache)
      newRender.children = [
        ...newRender.children,
        renderSlot(ctx.$slots, 'beforeNote'),
        renderSlot(ctx.$slots, 'note'),
      ]
      return h(newRender)
    }
  },
})
</script>

<style lang="scss">
.v-form-item {
  &__label-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__info {
    font-size: 12px;
    color: #b3b3b3;
  }

  &__tooltip {
    width: 270px;
    padding: 8px 8px 16px;
    text-align: center;
  }

  &__tooltip-icon {
    color: #323a92;
  }

  .el-form-item__content > div {
    margin-bottom: 8px;
  }
}

.el-form-item__label {
  justify-content: space-between;
  width: 100%;
  padding: 0;
  font-weight: 500;
}
</style>
